<section class="tech-stack">
  <div class="tech-stack__container">
    <h2 class="tech-stack__heading">Unser Tech Stack</h2>
    <p class="tech-stack__subtitle">Swift - C# - Java - Flutter - Angular - React</p>
    <div class="tech-stack__grid">
      <div class="tech-stack__item">
        <span class="tech-stack__name">Swift</span>
      </div>
      <div class="tech-stack__item">
        <span class="tech-stack__name">C#</span>
      </div>
      <div class="tech-stack__item">
        <span class="tech-stack__name">Java</span>
      </div>
      <div class="tech-stack__item">
        <span class="tech-stack__name">Flutter</span>
      </div>
      <div class="tech-stack__item">
        <span class="tech-stack__name">Angular</span>
      </div>
      <div class="tech-stack__item">
        <span class="tech-stack__name">React</span>
      </div>
      <div class="tech-stack__item">
        <span class="tech-stack__name">WordPress</span>
      </div>
      <div class="tech-stack__item">
        <span class="tech-stack__name">TYPO3</span>
      </div>
    </div>
    <div class="tech-stack__cta">
      <a href="/app-entwicklung/" class="tech-stack__link">Mehr erfahren</a>
    </div>
  </div>
</section>
